/*
position:absolute - relative to the parent with position:relative.
position:fixed - relative to viewport(screen), stays in place as we are scolling.
Will use other content to fill out the space.
*/

.nav {
    background: red;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
}

div {
    border: 2px solid purple;
    background: gold;
    margin-top: 40px;
}

.one {
    background: blue;
    color: #fff;
}

.two {
    background: green;
    color: #fff;
}

.special {
    background: palevioletred;
    color: #222;
    font-size: 1.5rem;
    color:#222;
}

.container {
    min-height: 100vh;
    background: blue;
}