/*
position:sticky - toggles between relative and fixed.
Once the position is set in the viewport - then it sticks one of the values top, left, bottom or right.
*/

.nav {
    background: red;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: sticky;
    margin-top: 0;
    top: 0;
    width: 100%;
}

div {
    border: 2px solid purple;
    background: gold;
    margin-top: 40px;
}

.one {
    background: blue;
    color: #fff;
}

.two {
    background: green;
    color: #fff;
}

.special {
    background: palevioletred;
    color: #222;
    font-size: 1.5rem;
    color:#222;
}

.container {
    min-height: 100vh;
    background: blue;
}