/*
descendant selectors
::first-line ::first-letter
:hover
*/

.header h1 {
    color: green;
}

.header > h1 {
    color: purple;
}

div h1 {
    color: red;
}

div > h1 {
    color: blue;
}

p::first-line {
    font-size: 2rem;
    font-weight: bold;
    color: red;
}

p::first-letter {
    font-size: 3rem;
    color: #222;
    font-style: oblique;
}

h2 {
    color: blueviolet;

    a {
        text-decoration: none;
    }
}

h2 a:hover {
    color: pink;
    background: red;
}