/*
transform:translate(), scale(), rotate(), skew()
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

div {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.one {
    background: red;
    /*transform: translateX(10%);*/
    /*transform: scaleX(0.5);*/
    /*transform: rotateZ(20deg);*/
    transform: skewX(40deg);
}

.two {
    background: blue;
    /*transform: translateY(10%);*/
    /*transform: scaleY(1.5);*/
    /*transform: rotate(380deg);*/
    transform: skewY(40deg);
}

.three {
    background: green;
    /*transform: translate(30px, 40px);*/
    /*transform: scale(2);*/
    /*transform: rotateX(45deg);*/
    transform: skew(40deg, 30deg);
}

/*
.hero {
    min-height: 100vh;
    position: relative;

    .hero-center {
        border: 2px solid red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 300px;
    }
}
*/