@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

.nav {
    height: 5rem;
    background: #040794;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 9;

    .nav-center {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;

        .nav-title {
            font-family: Pacifico;
            font-size: 2.25rem;
            text-transform: capitalize;
            color: #fcd71e;
            letter-spacing: 2px;
        }
    }
}

.hero {
    min-height: calc(100vh - 5rem);
    background: #315ad6;
    position: relative;

    .hero-center {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        padding: 5rem 0;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: Roboto;

        h1 {
            letter-spacing: 2px;
            text-transform: capitalize;
            margin-bottom: 0.75rem;
        }

        p {
            max-width: 35em;
            margin: 0 auto;
            margin-bottom: 1.5rem;
        }

        .hero-btn {
            background: transparent;
            border: 1px solid #fff;
            padding: 0.75rem 0.5rem;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 700;
        }

        .hero-btn:hover {
            background: #130c75;
        }
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background: linear-gradient(
            to right,
            rgba(4, 88, 179, 0.6),
            rgba(105, 175, 250, 1)
        ),
        url("./images/beach.jpg") center/cover !important;
    } 
    
    .hero-center h1 {
        color: #130c75;
    }
}

.temp {
    min-height: 100vh;
    background: #130c75;
}