* {
    margin: 0;
}

.hero {
    min-height: 100vh;
    background: url(./images/hero-bcg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
    color: red;
}

.banner {
    min-height: 100vh;
    background: blue;
}